{% extends "base.tpl" %}

{% block main %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1></h1>
        <h1 class="cover-heading">Sorry {{fullname}}, there was a credit card validation error</h1>
<p></p>
<p></p>
        <div class="row">
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/static/assets/img/errorcard.png" alt="moonpicture">
          </div>
          <div class="col-md-6">
            <p class="lead text-muted">Please go back, change credit card data and resubmit the form</p>
            <p>    
          </div>
        </div>
        </p>
      </div>
    </section>
  
  
  </main>

{% endblock %}