{% extends "base.tpl" %}

{% block main %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1></h1>
        <h1></h1>
        <h1>MoonRock Courses and Events</h1>
        <p class="lead text-muted">Each month we present new courses and creativity events for all family.</p>
        <p>
          <a href="/#Contact" class="btn btn-primary my-2">Contact us</a>
          <a href="/subscribe" class="btn btn-secondary my-2">MoonRock Kits</a>
        </p>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/assets/img/maker.png" alt="maker" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <p class="card-text">Maker Space. Each week we explore different techniques to create maps, objects and more.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming soon</button>
                  </div>
                  <small class="text-muted">30 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/assets/img/eclipse.png" alt="eclipse" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <p class="card-text">International Observe the Moon Night is officially scheduled for September 26th, 2021. In-person and virtual events. </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming soon</button>
                  </div>
                  <small class="text-muted">1 hour</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/assets/img/read.png" alt="read" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <p class="card-text">Star readers. Introdution to scientific literature from Carl Sagan to Neil Degrasse Tyson.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming soon</button>
                  </div>
                  <small class="text-muted">30 mins</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/assets/img/museum.png" alt="museum" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
             <div class="card-body">
                <p class="card-text">Museum Space Night truly is a night at the museum, with exceptional and surprising science programming.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming soon</button>
                  </div>
                  <small class="text-muted">2 hours</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/assets/img/art.png" alt="art" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <p class="card-text">Space Art, exploring the colors of the universe. Include the materials.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming soon</button>
                  </div>
                  <small class="text-muted">30 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="static/assets/img/cook.png" alt="cook" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
              <div class="card-body">
                <p class="card-text">Recipe for a Planet Mars. Children ages 8 to 13 cook and build models of Mars</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Coming soon</button>
                  </div>
                  <small class="text-muted">45 mins</small>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </main>

{% endblock %}