{% extends "base.tpl" %}

{% block main %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"></h1>
  <p class="lead"></p>
</div>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Subcription Boxes</h1>
  <p class="lead">Select your MoonRock kit plan. Pause or cancel anytime.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">MoonRock Kit 1</h4>
        <h5 class="my-0 font-weight-normal">1 Month</h5>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted"> / mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1 Kit</li>
          <li>2 Books</li>
          <li>1 Fun Science Course</li>
        </ul>
        <a <button type="button" class="btn btn-lg btn-block btn-primary" href="checkout/k1">Get started</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">MoonRock Kit 6</h4>
        <h5 class="my-0 font-weight-normal">6 Months</h5>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$12 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1 Kit</li>
          <li>2 Books</li>
          <li>2 Fun Science Courses</li>
        </ul>
        <a <button type="button" class="btn btn-lg btn-block btn-primary" href="checkout/k6">Get started</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">MoonRock Kit 12</h4>
        <h5 class="my-0 font-weight-normal">1 Year</h5>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$9 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1 Kit</li>
          <li>3 Books</li>
          <li>3 Fun Science Courses</li>
          <li>2 Surprise events</li>
        </ul>
        <a <button type="button" class="btn btn-lg btn-block btn-primary" href="checkout/k12">Get started</button></a>
      </div>
    </div>
  </div>

{% endblock %}
  