{% extends "base.tpl" %}

{% block main %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1></h1>
        <h1 class="cover-heading">Thank you for subscribing {{fullname}}</h1>
<p></p>
<p></p>
        <div class="row">
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/static/assets/img/moontha.png" alt="moonpicture">
          </div>

          <div class="col-md-6">
            <p class="lead text-muted">We got your order for {{product}} at ${{total}}</p>
            <p class="lead text-muted">You MoonRock is coming!</p>
            <p>
    
            

          </div>




        </div>





        </p>
      </div>
    </section>
  

  
  </main>

{% endblock %}